.vscode/settings.json
pom.xml
target/classes/players/changelog.txt
target/classes/players/Children.class
target/classes/players/Initiator.class
target/classes/players/JunctionProcess.class
target/classes/players/JunctionProcess$1.class
target/classes/players/Main.class
target/classes/players/Messagable.class
target/classes/players/Message.class
target/classes/players/Message$Compose.class
target/classes/players/Player.class
target/classes/players/SeparateProcess.class
target/classes/players/SeparateProcess$1.class
target/classes/players/SeparateProcess$2.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
